<%- include('./partials/header.ejs') %> 
<main class="form">
<form action="/ProyectoProgra2/proyecto/views/index.ejs" class="form-label">
    <div>
        <label for="Email" class="form-label">Email</label>
        <input type="email" id="Email" class="form-input" >
      </div>
      <div>
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-input">
      </div>
    <div>
    <input type="checkbox" id="remember" class="form-input">
    </div>

</form>
</main>
<%- include('./partials/footer.ejs') %> 