<%- include('./partials/header.ejs') %> 
<form action="/ProyectoProgra2/proyecto/views/index.ejs">
    <input type="email" id="Email" placeholder="Email">
    <input type="password" id="password">
    <input type="checkbox" id="remember">
</form>
<%- include('./partials/footer.ejs') %> 