<%- include('./partials/headerLogeado.ejs') %>
  <main class="form">
    <form class="form-label" method='POST'>
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-input" placeholder="furniture@gmail.com" name="email">
      </div>
      <div>
        <label for="pass" class="form-label">Contraseña</label>
        <input type="pass" id="pass" class="form-input" placeholder="Contraseña" name="pass">
      </div>
      <div class="checkremember">
        <label for="password" class="form-label">Recordarme</label>
        <input type="checkbox" id="rememberme" class="form-input" name="rememberme">
      </div>
      <button type="submit" class="buy-now-button"> Ingresar </button>
    </form>
  </main>
  <%- include('./partials/footer.ejs') %>