<%- include('./partials/header.ejs') %> 
<main class="form">
<form action="/" class="form-label">
    <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-input" placeholder="furniture@gmail.com">
      </div>
    <div>
        <label for="username" class="form-label">Username</label>
        <input type="username" id="username" class="form-input" placeholder="furniture@gmail.com">
      </div>
      <div>
        <label for="pass" class="form-label">Contraseña</label>
        <input type="pass" id="pass" class="form-input" placeholder="Contraseña">
      </div>
    <div class="checkremember">
    <label for="password" class="form-label">Recordarme</label>
    <input type="checkbox" id="remember" class="form-input">
    </div>
    <button type="submit" class="buy-now-button"> Ingresar </button>
</form>
</main>
<%- include('./partials/footer.ejs') %> 